// =============================================================================
//  SETTINGS - LABELS
// =============================================================================

$label-min-height: 35px;

$label-v-padding: 8px;
$label-h-padding: 15px;

$label-icon-size: rem(20);

$label-with-icon-h-spacing: rem(45);
$label-icon-t-spacing: rem(-10);
