// =============================================================================
//  SETTINGS - SPACING
// =============================================================================

$typography-vertical-spacing: 1em;

// Horizontal spacing
$horizontal-spacing-mobile: 25px;
$horizontal-spacing: 30px;
$-horizontal-spacing-mobile: -25px;
$-horizontal-spacing: -30px;

// Vertical spacing
$vertical-spacing-mobile: 25px;
$vertical-spacing: 40px;
$-vertical-spacing-mobile: -25px;
$-vertical-spacing: -40px;

// Spacing
$space-xxs: rem(5);
$space-xs: rem(10);
$space-sm: rem(15);
$space-md: rem(20);
$space-lg: rem(30);
$space-xl: rem(50);
$space-xxl: rem(70);

$card-padding-base: 20px;
