// =============================================================================
//  SETTINGS - CONFIRM POPUP
// =============================================================================

$popup-box-width-xs: $width-md;
$popup-box-width-sm: $width-lg;
$popup-box-width-md: $width-xxl;
$popup-box-width-lg: $width-xxxl;
$popup-box-width-xl: $width-xxxl + $width-xxs;
