// =============================================================================
//  SETTINGS - BUTTONS
// =============================================================================

// Padding
$button-h-padding-mobile: 20px;
$button-h-padding: 35px;
$button-v-padding: rem(8);

// Width/height
$button-max-width: rem(600);
$button-min-height: rem(40);

// Radius
$button-radius: 30px;

// Text/icons
$button-font-size: rem(15);
$button-line-height: 1.2;
$button-letter-spacing: rem(1);
$button-icon-size: rem(20);

// Spacing when in containers
$buttons-inline-gutter: rem(10);
$buttons-v-spacing: rem(10);
