// =============================================================================
//  SETTINGS - SHADOWS
// =============================================================================

// Shadows
$shadow-subtle: 0 0 10px 0 rgba(0, 0, 0, .1);
$shadow-forward: 0 0 12px 0 rgba(0, 0, 0, .2);
$shadow-base: 0 0 5px 0 rgba(0, 0, 0, .4);
$shadow-obvious: 0 0 15px rgba(0, 0, 0, .3);

$shadow: $shadow-base;

// Shadow insets
$shadow-inset: inset 0 0 15px -5px rgba(0, 0, 0, .3);
$shadow-inset-primary-thin: inset 0 0 0 2px $primary-colour;
$shadow-inset-primary: inset 0 0 0 1px $primary-colour;

// Bottom shadows
$shadow-bottom: 0 11px 16px -10px rgba(0, 0, 0, .1);
$shadow-bottom-subtle: 0 11px 16px -10px rgba(0, 0, 0, .05);

// Top shadows
$shadow-top: 0 -3px 16px 0 rgba(0, 0, 0, .1);
$shadow-top-subtle: 0 -3px 16px 0 rgba(0, 0, 0, .05);
