// =============================================================================
//  SETTINGS - ACCORDION
// =============================================================================

$accordion-v-spacing-xs: rem(10);
$accordion-v-spacing-sm: rem(15);
$accordion-v-spacing-md: rem(20);
$accordion-v-spacing-lg: rem(30);
$accordion-v-spacing-xl: rem(40);

$accordion-with-toggle-h-spacing: 3.5em;
