// =============================================================================
//  SETTINGS - TYPEAHEAD
// =============================================================================

// Margin spacing
$typeahead-option-margin: 2px;
$typeahead-selectable-margin-right: $icon-size-xs;

/// Widths
$typeahead-group-width: 80px;
$typeahead-group-dropdown-width: 340px;
