// =============================================================================
//  SETTINGS - MODAL
// =============================================================================

$modal-close-t-offset-mobile: -55px;
$modal-close-t-offset: -70px;

$modal-content-h-spacing-mobile: rem(100);
$modal-content-h-spacing: rem(80);

$modal-content-narrow: 800px;

$modal-panel-v-spacing: rem(40);
