// =============================================================================
//  SETTINGS - ACCORDION
// =============================================================================

$accordion-v-spacing-xs: 10px;
$accordion-v-spacing-sm: 15px;
$accordion-v-spacing-md: 20px;
$accordion-v-spacing-lg: 30px;
$accordion-v-spacing-xl: 40px;

$accordion-with-toggle-h-spacing: 3.5em;
