// =============================================================================
//  SETTINGS - PAGINATION
// =============================================================================

// Padding
$pagination-button-h-padding: 10px;
$pagination-button-v-padding: 5px;

// Width/height
$pagination-button-min-width: 20px;
$pagination-button-min-height: 10px;

// Radius
$pagination-button-radius: $border-radius-base;

// Text/icons
$pagination-button-font-size: $font-size-xs-desktop;
$pagination-button-line-height: 1.2;
