// =============================================================================
//  SETTINGS - ICONS
// =============================================================================

// Icon
$icon-size-xxs: 10px;
$icon-size-xs: 15px;
$icon-size-sm: 20px;
$icon-size-md: 25px;
$icon-h-spacing: 2px;

// Icons inline with text
$icon-inline-text-gutter: 0.3em;
$icon-inline-text-size: 1em;

// Circle icon sizes
$circle-icon-size-sm: 25px;
$circle-icon-size-md: 40px;
$circle-icon-size-lg: 60px;

// Navicon
$navicon-width: 25px;
$navicon-height: 18px;
$navicon-stroke: $border-stroke;
$navicon-stroke-radius: $border-radius-base;

// Plus minus toggle
$plus-minus-container-size: 29px;
$plus-minus-size: 15px;
$plus-minus-stroke: $border-stroke;
$plus-minus-stroke-radius: $border-radius-base;
$circle-plus-minus-size: 19px;
$circle-plus-minus-t-spacing: 12px;
$circle-plus-minus-r-spacing: 3px;
