// =============================================================================
//  SETTINGS - HERO
// =============================================================================

$hero-content-min-height-mobile: 300px;
$hero-content-min-height: 420px;

$hero-content-max-width-mobile: 300px;
$hero-content-max-width: 500px;
