// =============================================================================
//  SETTINGS - TYPEAHEAD
// =============================================================================

// Margin spacing
$typeahead-option-margin: 2px;
$typeahead-selectable-margin-right: $icon-size-xs;

// Padding
$typeahead-padding: .2em;

/// Widths
$typeahead-group-width: 80px;
$typeahead-group-dropdown-min-width: 340px;
$typeahead-group-dropdown-max-height: 300px;

// Font sizes
$typeahead-font-size-mobile: $font-size-md-mobile;
$typeahead-font-size-desktop: $font-size-md-desktop;
