// =============================================================================
//  SETTINGS - CONFIRM POPUP
// =============================================================================

$confirm-box-v-padding: 30px;
$confirm-box-h-padding: 30px;

$confirm-box-width: 500px;
$confirm-box-width-lg: 740px;

$confirm-box-width-mobile: 90%;

$confirm-box-t-spacing: 30%;
