// =============================================================================
//  SETTINGS - CARDS
// =============================================================================

$card-h-padding: 20px;
$card-v-padding: rem(20);

$card-h-padding-lg: 30px;
$card-v-padding-lg: rem(40);

$card-option-highlight-height: 10px;
$card-option-highlight-offset: -6px
