// =============================================================================
//  SETTINGS - LABELS
// =============================================================================

$label-min-height: rem(35);

$label-v-padding: rem(8);
$label-h-padding: rem(15);

$label-icon-size: rem(20);

$label-with-icon-h-spacing: rem(45);
$label-icon-t-spacing: rem(-10);
