// =============================================================================
//  SETTINGS - TOOLTIP
// =============================================================================

// Tooltip icon
$tooltip-icon-circle-size: 15px;
$tooltip-icon-size: 9px;
$tooltip-icon-line-height: 12px;

$tooltip-padding: 20px;
$tooltip-b-spacing: 20px;

$tooltip-width: 325px;
$tooltip-width-lg: 500px;
