// =============================================================================
//  SETTINGS - LISTS
// =============================================================================

// Lists
$list-l-spacing: 2em;
$list-inline-gutter: 1em;
$list-inline-gutter-sm: 0.5em;
$list-inline-v-spacing: 0.5em;

// Image/icons inline list gutters
$img-list-inline-gutter-xxs: 2px;
$img-list-inline-gutter-xs: 5px;
$img-list-inline-gutter-sm: 10px;
$img-list-inline-gutter-md: 15px;
$img-list-inline-gutter-lg: 20px;
$img-list-inline-gutter-xl: 25px;
