<div data-page="buttons" class="demo-page-content">

    {{> demo-sidebar }}

    <div class="demo-container-with-sidebar">
        <header class="content-block content-block--strip bg-primary">
            <div class="container">
                <h2>Buttons</h2>
                <ul class="list--inline remove-link-styles font-weight-bold">
                    <li><a href="#buttons-cta">CTA Buttons</a></li>
                    <li><a href="#buttons-control">Control buttons</a></li>
                    <li><a href="#buttons-passive">Passive button</a></li>
                    <li><a href="#buttons-disabled">Buttons disabled</a></li>
                </ul>
            </div>
        </header>


        <!-- REQUIRED FILES -->
        <section id="buttons-required">
            <header class="content-block bg-light-grey">
                <div class="container">
                    <h3>Required files</h3>
                </div>
            </header>
            <div class="content-block">
                <div class="container">
                    <p>SCSS files required: <code>_components.buttons.scss</code></p>
                </div>
            </div>
        </section>


        <!-- CTA BUTTONS -->
        <section id="buttons-cta">
            <header class="content-block bg-light-grey">
                <div class="container">
                    <h3>CTA buttons</h3>
                    <p>Use the class <code>.btn</code> on any element eg. button, anchor, div, span.</p>
                    <p>Add the modifying classes to apply the secondary, tertiary and danger (delete) button styles <code>.btn--secondary</code>, <code>.btn--tertiary</code>, <code>.btn--danger</code>.</p>
                    <p>The buttons have no spacing around them by default. However to stack buttons together nicely inline (as the examples below) add a wrapper with the class <code>.btns-container</code>.</p>
                </div>
            </header>
            <div class="content-block">
                <div class="container">
                    <div class="btns-container">
                        <button type="button" class="btn">Primary</button>
                        <a href="#" class="btn btn--secondary">Secondary</a>
                        <button type="button" class="btn btn--tertiary">Tertiary</button>
                        <span class="btn btn--danger">Danger</span>
                    </div>
                </div>
            </div>
        </section>


        <!-- CONTROL BUTTONS -->
        <section id="buttons-control">
            <header class="content-block bg-light-grey">
                <div class="container">
                    <h3>Control buttons</h3>
                    <p>Use the class <code>.btn</code> and the modifying class <code>.btn--control</code> on any element eg. button, anchor, div, span.</p>
                    <p>Add the modifying classes to apply the secondary and danger (delete) button styles <code>.btn--secondary</code>, <code>.btn--danger</code>.</p>
                    <p>The control buttons have no spacing around them by default. However to stack buttons together nicely inline (as the examples below) add a wrapper with the classes <code>.control-btns-container</code>.</p>
                </div>
            </header>
            <div class="content-block">
                <div class="container">
                    <div class="control-btns-container">
                        <button type="button" class="btn btn--control">Primary</button>
                        <a href="#" class="btn btn--control btn--secondary">Secondary</a>
                        <span class="btn btn--control btn--danger">Danger</span>
                    </div>
                </div>
            </div>
        </section>


        <!-- PASSIVE BUTTON -->
        <section id="buttons-passive">
            <header class="content-block bg-light-grey">
                <div class="container">
                    <h3>Passive buttons</h3>
                    <p>Use the class <code>.btn</code> as well as the modifying class <code>.btn--passive</code>.</p>
                    <p>There is an option to add an svg icon embed inside the button. See the <a href="/icons.html#iconsInline">icons example page</a> for more info on inline icons.</p>
                </div>
            </header>
            <div class="content-block">
                <div class="container">
                    <div class="btns-container">
                        <button class="btn btn--passive">Passive button</button>
                        <button class="btn btn--passive"><span>Passive button with chevron icon</span><i class="icon icon--inline">{{> icon-chevron }}</i></button>
                    </div>
                </div>
            </div>
        </section>


        <!-- DISABLED BUTTONS -->
        <section id="buttons-disabled">
            <header class="content-block bg-light-grey">
                <div class="container">
                    <h3>Disabled buttons</h3>
                    <p>Add the <code>disabled</code> attribute to any button OR the class <code>.is-disabled</code> is available to add if required eg. if it is an anchor or span element.</p>
                    <p>The below examples use either the attribute or the class to show the styling looks the same for either.</p>
                </div>
            </header>
            <div class="container">
                <div class="content-block">
                    <div class="btns-container">
                        <button class="btn is-disabled">Primary disabled</button>
                        <button disabled class="btn btn--secondary">Secondary disabled</button>
                        <button class="btn btn--tertiary is-disabled">Tertiary disabled</button>
                        <button disabled class="btn btn--danger">Danger disabled</button>
                    </div>
                </div>
                <div class="content-block p-t-none">
                    <div class="control-btns-container">
                        <button disabled type="button" class="btn btn--control">Primary</button>
                        <a href="#" class="btn btn--control btn--secondary is-disabled">Secondary</a>
                        <span class="btn btn--control btn--danger is-disabled">Danger</span>
                    </div>
                </div>
                <div class="content-block p-t-none">
                    <button class="btn btn--passive is-disabled"><span>Passive button with chevron icon and disabled</span><i class="icon icon--inline">{{> icon-chevron }}</i></button>
                </div>
            </div>
        </section>
    </div>
</div>
