<div data-page="cookie-notice" class="demo-page-content">

    {{> demo-sidebar }}

    <div class="demo-container-with-sidebar">
        <header class="content-block content-block--strip bg-primary">
            <div class="container">
                <h2>Cookie Notice</h2>
            </div>
        </header>


        <!-- REQUIRED FILES -->
        <section id="cookie-notice-required">
            <header class="content-block bg-light-grey">
                <div class="container">
                    <h3>Adding the Cookie notice snippet</h3>
                </div>
            </header>
            <div class="content-block">
                <div class="container">
                    <p>The functioning Cookie Notice snippet lives in a separate repo <a href="https://github.com/Pod-Point/cookie-notice.js" target="_blank">here</a>. Please refer to its readme for instructions on how to implement.</p>
                    <p>Note that the SCSS files are already included in the Cookie Notice snippet, so are not needed for implementation.</p>
                    <p>SCSS files used:</p>
                    <ul class="list--no-style">
                        <li><code>0-utilities/all</code></li>
                        <li><code>1-settings/all</code></li>
                        <li><code>2-tools/all</code></li>
                        <li><code>6-components/components.buttons</code></li>
                        <li><code>6-components/components.cookie-notice</code></li>
                    </ul>
                    <p>A visual example of the Cookie Notice styling is fixed to the bottom of this page.</p>
                </div>
            </div>
            <div class="cookie-wrapper">
                <div class="cookie-container">
                    <div class="cookie">
                        <div class="cookie__col cookie__col--grow">
                            <p class="cookie__notice">Hello! Our website uses cookies to help us provide you with the best user experience and to deliver customised experiences. You can find out more about the cookies we use and your cookie choices, <a href="https://pod-point.com/technical/privacy-policy" target="_blank">here</a>. If you continue to use our services, we’ll assume you’re ok with this.</p>
                        </div>
                        <div class="cookie__col cookie__col--centre">
                            <button class="btn btn--secondary">That's ok with me</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
