<div data-page="cookie-notice" class="demo-page-content">

    {{> demo-sidebar }}

    <div class="demo-container-with-sidebar">
        <header class="content-block content-block--strip bg-primary">
            <div class="container">
                <h2>Cookie Notice</h2>
            </div>
        </header>


        <!-- REQUIRED FILES -->
        <section id="cookie-notice-required">
            <header class="content-block bg-light-grey">
                <div class="container">
                    <h3>Required files</h3>
                </div>
            </header>
            <div class="content-block">
                <div class="container">
                    <p>SCSS files required:</p>
                    <ul class="list--no-style">
                        <li><code>0-utilities/all</code></li>
                        <li><code>1-settings/all</code></li>
                        <li><code>2-tools/all</code></li>
                        <li><code>6-components/components.buttons</code></li>
                        <li><code>6-components/components.cookie-notice</code></li>
                    </ul>
                </div>
            </div>
        </section>


        <!-- COOKIE NOTICE MARKUP -->
        <section id="cookie-notice-markup">
            <header class="content-block bg-light-grey">
                <div class="container">
                    <h3>Adding the Cookie Notice snippet</h3>
                </div>
            </header>
            <div class="content-block">
                <div class="container">
                    <p>Below is an example of what the cookie notice snippet will look like.</p>
                    <p>The functioning Cookie Notice snippet lives in a separate repo <a href="https://github.com/Pod-Point/cookie-notice.js" target="_blank">here</a>. Please refer to the readme for instructions on how to implement.</p>
                    <p>For the styling, the above SCSS files are already included in the snippet.</p>
                </div>
            </div>

            <div class="cookie-wrapper">
                <div class="cookie-container">
                    <div class="cookie">
                        <div class="cookie__col cookie__col--grow">
                            <p class="cookie__notice">Hello! Our website uses cookies to help us provide you with the best user experience and to deliver customised experiences. You can find out more about the cookies we use and your cookie choices, <a href="https://pod-point.com/technical/privacy-policy" target="_blank">here</a>. If you continue to use our services, we’ll assume you’re ok with this.</p>
                        </div>
                        <div class="cookie__col cookie__col--centre">
                            <button class="btn btn--secondary">That's ok with me</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
