<div data-page="grid" class="demo-page-content">

    {{> demo-sidebar }}

    <div class="demo-container-with-sidebar">
        <header class="content-block content-block--strip bg-primary">
            <div class="container">
                <h2>Grid</h2>
                <ul class="list--inline remove-link-styles font-weight-bold">
                    <li><a href="#grid-gutters">Grid gutters</a></li>
                    <li><a href="#grid-responsive">Grid responsive</a></li>
                    <li><a href="#grid-offsets">Grid offsets</a></li>
                    <li><a href="#grid-nested">Grid nested</a></li>
                    <li><a href="#grid-modifiers">Grid modifying helpers</a></li>
                </ul>
            </div>
        </header>


        <!-- REQUIRED FILES -->
        <section id="grid-required">
            <header class="content-block bg-light-grey">
                <div class="container">
                    <h3>Required files</h3>
                </div>
            </header>
            <div class="content-block">
                <div class="container">
                    <p>SCSS files required: <code>_objects.grid.scss</code></p>
                </div>
            </div>
        </section>


        <section id="grid-system" class="content-block bg-light-grey">
            <div class="container">
                <h3>Grid system</h3>
                <p>This grid system uses flexbox.</p>
                <p>The grid file <code>objects.grid.scss</code> includes 12 column sizes at small, medium and large breakpoints, and the same for offsets.</code></p>
            </div>
        </section>

        <section id="grid-gutters" class="content-block bg-light-grey">
            <div class="container">
                <h3>Grid gutters</h3>
                <p>The grid includes 20px gutters as default but can be changed with the modifying classes available.</p>
                <p>To remove all gutters (vertical, horizontal gutters or both): <code>.grid--v-gutter-none</code>, <code>.grid--h-gutter-none</code>, <code>.grid--gutter-none</code>.</p>
                <p>For small gutters (15px) (vertical, horizontal gutters or both): <code>.grid--v-gutter-sm</code>, <code>.grid--h-gutter-sm</code>, <code>.grid--gutter-sm</code>.</p>
                <p>For extra small gutters (10px) (vertical, horizontal gutters or both): <code>.grid--v-gutter-xs</code>, <code>.grid--h-gutter-xs</code>, <code>.grid--gutter-xs</code>.</p>
            </div>
        </section>


        <!-- GRID RESPONSIVE -->
        <section id="grid-responsive">
            <header class="content-block bg-light-grey">
                <div class="container">
                    <h3>Grid responsive</h3>
                    <p>The container requires the class <code>.grid</code> and each grid column requires the class <code>.grid__col</code> which is full width by default.</p>
                    <p>Classes can then be added starting with <code>.grid__col-</code> plus the amount of columns eg. <code>.grid__col</code> for full width and <code>.grid__col-6</code> for half width.</p>
                    <p>The column widths can be modified at each breakpoint. For example the following classes can all be added to one grid column and the width of the column will change at all the breakpoints: <code>grid__col</code> <code>grid__col-sm-3</code> <code>grid__col-md-6</code> <code>grid__col-lg-7</code></p>
                    <p>The following grid example uses the default grid column class at 12 column width (full width) and then applies one more to each at the medium breakpoint. Resulting that all columns will be full width at mobile size and then various column widths at the medium breakpoint.</p>
{{> snippet-grid-responsive }}
                </div>
            </header>

            <div class="content-block">
                <div class="container">
                    <div class="grid">
                        <div class="grid__col">
                            <div class="bg-dark-grey text-centre font-weight-bold">12</div>
                        </div>

                        <div class="grid__col grid__col-md-1">
                            <div class="bg-dark-grey text-centre font-weight-bold">1</div>
                        </div>
                        <div class="grid__col grid__col-md-11">
                            <div class="bg-dark-grey text-centre font-weight-bold">11</div>
                        </div>

                        <div class="grid__col grid__col-md-2">
                            <div class="bg-dark-grey text-centre font-weight-bold">2</div>
                        </div>
                        <div class="grid__col grid__col-md-10">
                            <div class="bg-dark-grey text-centre font-weight-bold">10</div>
                        </div>

                        <div class="grid__col grid__col-md-3">
                            <div class="bg-dark-grey text-centre font-weight-bold">3</div>
                        </div>
                        <div class="grid__col grid__col-md-9">
                            <div class="bg-dark-grey text-centre font-weight-bold">9</div>
                        </div>

                        <div class="grid__col grid__col-md-4">
                            <div class="bg-dark-grey text-centre font-weight-bold">4</div>
                        </div>
                        <div class="grid__col grid__col-md-8">
                            <div class="bg-dark-grey text-centre font-weight-bold">8</div>
                        </div>

                        <div class="grid__col grid__col-md-5">
                            <div class="bg-dark-grey text-centre font-weight-bold">5</div>
                        </div>
                        <div class="grid__col grid__col-md-7">
                            <div class="bg-dark-grey text-centre font-weight-bold">7</div>
                        </div>

                        <div class="grid__col grid__col-md-6">
                            <div class="bg-dark-grey text-centre font-weight-bold">6</div>
                        </div>
                        <div class="grid__col grid__col-md-6">
                            <div class="bg-dark-grey text-centre font-weight-bold">6</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- GRID OFFSETS -->
        <section id="grid-offsets">
            <header class="content-block bg-light-grey">
                <div class="container">
                    <h3>Grid offsets</h3>
                    <p>Offset classes can be applied in the same way as grid column classes, but with 'offset' in the class, plus the amount of columns and then the breakpoint.</p>
                    <p>For example the following classes can all be added to one grid column and the width of the offset will change at all the breakpoints: <code>.grid__col-offset-3</code> <code>.grid__col-offset-sm-5</code> <code>.grid__col-offset-md-8</code> <code>.grid__col-offset-lg-10</code></p>
{{> snippet-grid-offsets }}
                </div>
            </header>

            <div class="content-block">
                <div class="container">
                    <div class="grid">
                        <div class="grid__col">
                            <div class="grid__col-inner">
                                <div class="bg-dark-grey text-centre font-weight-bold">12</div>
                            </div>
                        </div>

                        <div class="grid__col grid__col-md-11 grid__col-offset-md-1">
                            <div class="bg-dark-grey text-centre font-weight-bold">11</div>
                        </div>

                        <div class="grid__col grid__col-md-10 grid__col-offset-md-2">
                            <div class="bg-dark-grey text-centre font-weight-bold">10</div>
                        </div>

                        <div class="grid__col grid__col-md-9 grid__col-offset-md-3">
                            <div class="bg-dark-grey text-centre font-weight-bold">9</div>
                        </div>

                        <div class="grid__col grid__col-md-8 grid__col-offset-md-4">
                            <div class="bg-dark-grey text-centre font-weight-bold">8</div>
                        </div>

                        <div class="grid__col grid__col-md-7 grid__col-offset-md-5">
                            <div class="bg-dark-grey text-centre font-weight-bold">7</div>
                        </div>

                        <div class="grid__col grid__col-md-6 grid__col-offset-md-6">
                            <div class="bg-dark-grey text-centre font-weight-bold">6</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- GRID NESTED -->
        <section id="grid-nested">
            <header class="content-block bg-light-grey">
                <div class="container">
                    <h3>Grid nested</h3>
                    <p>Grids can be easily nested and they will maintain the gutter spacing as seen in the example below.</p>
{{> snippet-grid-nested }}
                </div>
            </header>

            <div class="content-block">
                <div class="container">
                    <div class="grid">
                        <div class="grid__col">
                            <div class="bg-dark-grey text-centre font-weight-bold">12</div>
                        </div>

                        <div class="grid__col grid__col-md-1">
                            <div class="bg-dark-grey text-centre font-weight-bold">1</div>
                        </div>
                        <div class="grid__col grid__col-md-11">
                            <div class="grid grid--v-gutter-sm grid--h-gutter-sm">
                                <div class="grid__col grid__col-md-6">
                                    <div class="bg-dark-grey text-centre font-weight-bold">Nested 6</div>
                                </div>
                                <div class="grid__col grid__col-md-6">
                                    <div class="bg-dark-grey text-centre font-weight-bold">Nested 6</div>
                                </div>
                            </div>
                        </div>

                        <div class="grid__col grid__col-md-2">
                            <div class="bg-dark-grey text-centre font-weight-bold">2</div>
                        </div>
                        <div class="grid__col grid__col-md-10">
                            <div class="bg-dark-grey text-centre font-weight-bold">10</div>
                        </div>

                        <div class="grid__col grid__col-md-3">
                            <div class="bg-dark-grey text-centre font-weight-bold">3</div>
                        </div>
                        <div class="grid__col grid__col-md-9">
                            <div class="grid grid--v-gutter-sm grid--h-gutter-sm">
                                <dt class="grid__col grid__col-md-4">
                                    <div class="bg-dark-grey text-centre font-weight-bold">Nested 4</div>
                                </dt>
                                <dd class="grid__col grid__col-md-8">
                                    <div class="bg-dark-grey text-centre font-weight-bold">Nested 8</div>
                                </dd>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- GRID MODIFYING HELPERS -->
        <section id="grid-modifiers" class="content-block bg-light-grey">
            <div class="container">
                <h3>Grid modifying helpers</h3>
                <p>To reverse the grid apply the modifying class <code>.grid--reverse</code>.</p>
            </div>
        </section>
    </div>
</div>
