<div data-page="index" class="demo-page-content">

    {{> demo-sidebar }}

    <div class="demo-container-with-sidebar">
        <header class="content-block content-block--strip bg-primary">
            <div class="container">
                <h2>Pod Point UI Toolkit</h2>
            </div>
        </header>


        <section id="beta">
            <header class="content-block bg-light-grey">
                <div class="container">
                    <p>A prototyping framework based on the pod point website, that can be used for getting a project off the ground quickly.</p>
                    <p>This UI Toolkit is an ongoing, itereative process and a collaborative project.</p>
                    <p>For any additions or changes please also update the documentation.</p>
                </div>
            </header>

            <div class="content-block">
                <div class="container">
                    <h4>INDEX</h4>
                    <div class="grid">
                        <div class="grid__col grid__col-md-4">
                            <h6>General</h6>
                            <ul class="font-size-sm bold remove-link-styles">
                                <li><a href="version-updates.html">Version updates</a>
                                    <ul>
                                        <li><a href="version-updates.html#v1.3.0">v1.3.0</a></li>
                                        <li><a href="version-updates.html#v1.2.2">v1.2.2</a></li>
                                        <li><a href="version-updates.html#v1.1.0">v1.1.0</a></li>
                                    </ul>
                                </li>
                                <li><a href="contributing.html">Contributing</a></li>
                            </ul>
                            <h6>Getting Started</h6>
                            <ul class="font-size-sm bold remove-link-styles">
                                <li><a href="version-updates.html">Version updates</a></li>
                                <li><a href="installation.html">Installation</a></li>
                                <li><a href="scss.html">CSS/SCSS</a>
                                    <ul>
                                        <li><a href="scss.html#css-naming-convention">Naming conventions</a></li>
                                        <li><a href="scss.html#css-units">Units</a></li>
                                        <li><a href="scss.html#css-structure-imports">Structure and importing</a></li>
                                    </ul>
                                </li>
                                <li><a href="css-bg-img.html">CSS Background images</a></li>
                                <li><a href="inline-svg-icons.html">Inline SVG icons</a></li>
                                <li><a href="javascript.html">The JavaScript</a>
                                    <ul>
                                        <li><a href="javascript.html#js-base">Base</a></li>
                                        <li><a href="javascript.html#js-toggle-element">Toggle element</a></li>
                                        <li><a href="javascript.html#js-accordion">Accordion</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="grid__col grid__col-md-4">
                            <h6>Helpers</h6>
                            <ul class="font-size-sm bold remove-link-styles">
                                <li><a href="helper-classes.html">CSS helper classes</a>
                                    <ul>
                                        <li><a href="helper-classes.html#helpers-spacing">Spacing</a></li>
                                        <li><a href="helper-classes.html#helpers-borders">Borders</a></li>
                                        <li><a href="helper-classes.html#helpers-border-radius">Border radius</a></li>
                                        <li><a href="helper-classes.html#helpers-boxShadows">Box shadows</a></li>
                                        <li><a href="helper-classes.html#helpers-position">Positioning</a></li>
                                        <li><a href="helper-classes.html#helpers-responsive">Responsive helpers</a></li>
                                        <li><a href="helper-classes.html#helpers-typography">Typography</a></li>
                                        <li><a href="helper-classes.html#helpers-widths">Widths</a></li>
                                        <li><a href="helper-classes.html#helpers-backgrounds">Backgrounds</a></li>
                                    </ul>
                                </li>
                                <li><a href="sass-tools.html">Sass tools</a>
                                    <ul>
                                        <li><a href="sass-tools.html#tools-accordions">Accordions</a></li>
                                        <li><a href="sass-tools.html#tools-alerts">Alerts</a></li>
                                        <li><a href="sass-tools.html#tools-animation-fades">Animations fades</a></li>
                                        <li><a href="sass-tools.html#tools-animation-pop-up-fade-in">Animation pop up fade in</a></li>
                                        <li><a href="sass-tools.html#tools-animation-slides">Animation slides</a></li>
                                        <li><a href="sass-tools.html#tools-aspect-ratio">Aspect ratio</a></li>
                                        <li><a href="sass-tools.html#tools-container">Container</a></li>
                                        <li><a href="sass-tools.html#tools-custom-icon-lists">Custom icon lists</a></li>
                                        <li><a href="sass-tools.html#tools-form-controls">Form controls</a></li>
                                        <li><a href="sass-tools.html#tools-font-sizes">Font sizes</a></li>
                                        <li><a href="sass-tools.html#tools-full-overlay">Full overlay</a></li>
                                        <li><a href="sass-tools.html#tools-headings">Headings</a></li>
                                        <li><a href="sass-tools.html#tools-horizontal-spacing">Horizontal spacing</a></li>
                                        <li><a href="sass-tools.html#tools-icons-in-circles">Icons in circles</a></li>
                                        <li><a href="sass-tools.html#tools-inline-list-gutter">Inline list gutter</a></li>
                                        <li><a href="sass-tools.html#tools-margin">Margin</a></li>
                                        <li><a href="sass-tools.html#tools-media-queries">Media queries</a></li>
                                        <li><a href="sass-tools.html#tools-padding">Padding</a></li>
                                        <li><a href="sass-tools.html#tools-positioning">Positioning</a></li>
                                    </ul>
                                    <br>
                                    <ul>
                                        <li><a href="sass-tools.html#tools-clearfix">Clearfix</a></li>
                                        <li><a href="sass-tools.html#tools-align-centre">Align centre</a></li>
                                        <li><a href="sass-tools.html#tools-remove-list-styles">Remove list styles</a></li>
                                        <li><a href="sass-tools.html#tools-remove-link-styles">Remove link styles</a></li>
                                        <li><a href="sass-tools.html#tools-clickable">Clickable</a></li>
                                        <li><a href="sass-tools.html#tools-hide-text-not-pseudo">Hide text not pseudo</a></li>
                                        <li><a href="sass-tools.html#tools-bg-cover">Background cover</a></li>
                                        <li><a href="sass-tools.html#tools-hide-text">Hide text</a></li>
                                        <li><a href="sass-tools.html#tools-margin-centre">Margin centre</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="grid__col grid__col-md-4">
                            <h6>Example pages</h6>
                            <ul class="font-size-sm bold remove-link-styles">
                                <li><a href="accordions.html">Accordions</a></li>
                                <li><a href="alerts.html">Alerts</a></li>
                                <li><a href="buttons.html">Buttons</a>
                                    <ul>
                                        <li><a href="buttons.html#buttons-cta">CTA Buttons</a></li>
                                        <li><a href="buttons.html#buttons-control">Control buttons</a></li>
                                        <li><a href="buttons.html#buttons-passive">Passive button</a></li>
                                        <li><a href="buttons.html#buttons-disabled">Buttons disabled</a></li>
                                        <li><a href="buttons.html#button-group">Button group</a></li>
                                    </ul>
                                </li>
                                <li><a href="cards.html">Cards</a>
                                    <ul>
                                        <li><a href="cards.html#cards-default">Default card</a></li>
                                        <li><a href="cards.html#cards-centred">Cards centred</a></li>
                                        <li><a href="cards.html#cards-options">Option cards</a></li>
                                    </ul>
                                </li>
                                <li><a href="forms.html">Forms</a>
                                    <ul>
                                        <li><a href="forms.html#form-layout">Form layout</a></li>
                                        <li><a href="forms.html#form-inputs">Inputs</a></li>
                                        <li><a href="forms.html#form-textareas">Text areas</a></li>
                                        <li><a href="forms.html#form-selects">Selects</a></li>
                                        <li><a href="forms.html#form-fields-required">Fields required</a></li>
                                        <li><a href="forms.html#form-control-alt">Form controls alternative</a></li>
                                        <li><a href="forms.html#form-checkboxes">Checkboxes</a></li>
                                        <li><a href="forms.html#form-radios">Radios</a></li>
                                        <li><a href="forms.html#form-fields-inline">Fields inline</a></li>
                                        <li><a href="forms.html#form-fields-grid">Fields in a grid</a></li>
                                    </ul>
                                </li>
                                <li><a href="grid.html">Grid</a>
                                    <ul>
                                        <li><a href="grid.html#grid-gutters">Grid gutters</a></li>
                                        <li><a href="grid.html#grid-responsive">Grid responsive</a></li>
                                        <li><a href="grid.html#grid-offsets">Grid offsets</a></li>
                                        <li><a href="grid.html#grid-nested">Grid nested</a></li>
                                        <li><a href="grid.html#grid-modifiers">Grid modifying helpers</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="heros.html">Heros</a>
                                    <ul>
                                        <li><a href="heros.html#hero-markup">Hero markup</a></li>
                                        <li><a href="heros.html#hero-centred">Hero centred</a></li>
                                        <li><a href="heros.html#hero-left">Hero left</a></li>
                                        <li><a href="heros.html#hero-right">Hero right</a></li>
                                    </ul>
                                </li>
                                <li><a href="icons.html">Icons</a>
                                    <ul>
                                        <li><a href="icons.html#icons-svg">SVG icons</a></li>
                                        <li><a href="icons.html#icons-svg-colours">SVG icon colours</a></li>
                                        <li><a href="icons.html#icons-inline">Icons inline with text</a></li>
                                        <li><a href="icons.html#icon-circles">Icons in circles</a></li>
                                        <li><a href="icons.html#icon-circles-sizes">Icons in circles - sizes</a></li>
                                        <li><a href="icons.html#icon-circles-colours">Icons in circles - colours</a></li>
                                    </ul>
                                </li>
                                <li><a href="labels.html">Labels</a>
                                    <ul>
                                        <li><a href="labels.html#labels-sizes">Label sizes</a></li>
                                        <li><a href="labels.html#labels-colours">Label colours</a></li>
                                    </ul>
                                </li>
                                <li><a href="lists.html">Lists</a>
                                    <ul>
                                        <li><a href="lists.html#lists-default">Default list style</a></li>
                                        <li><a href="lists.html#lists-no-style">Remove list style</a></li>
                                        <li><a href="lists.html#lists-tight-space">List with tightened space on left</a></li>
                                        <li><a href="lists.html#lists-inline">List inline</a></li>
                                        <li><a href="lists.html#lists-featured-ticks">Featured list with tick icons</a></li>
                                    </ul>
                                </li>
                                <li><a href="modals.html">Modals</a></li>
                                <li><a href="tables.html">Tables</a>
                                    <ul>
                                        <li><a href="tables.html#table-default">Default table</a></li>
                                        <li><a href="tables.html#table-striped">Striped table</a></li>
                                        <li><a href="tables.html#table-condensed">Condensed table</a></li>
                                        <li><a href="tables.html#table-bordered">Bordered table</a></li>
                                        <li><a href="tables.html#table-bordered-inbetween">Bordered inbetween table</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="toggles.html">Toggles</a>
                                    <ul>
                                        <li><a href="toggles.html#toggle-structure">Toggle structure</a></li>
                                        <li><a href="toggles.html#toggle-display">Toggle display</a></li>
                                        <li><a href="toggles.html#toggle-fade">Toggle fade</a></li>
                                        <li><a href="toggles.html#toggle-slide">Toggle slide</a></li>
                                    </ul>
                                </li>
                                <li><a href="tooltips.html">Tooltips</a></li>
                                <li><a href="typeahead.html">Typeahead</a>
                                    <ul>
                                        <li><a href="typeahead.html#default-select">Default Select</a></li>
                                        <li><a href="typeahead.html#grouped-inputs-widget">Grouped Inputs Widget</a></li>
                                        <li><a href="typeahead.html#markup-only">Markup Only</a></li>
                                        <li><a href="typeahead.html#autocomplete-widget">Autocomplete widget</a></li>
                                    </ul>
                                </li>
                                <li><a href="typography.html">Typography</a>
                                    <ul>
                                        <li><a href="typography.html#typography-formatting">Formatting</a></li>
                                        <li><a href="typography.html#typography-size-definitions">Sizes</a></li>
                                        <li><a href="typography.html#typography-headings">Headings</a></li>
                                        <li><a href="typography.html#typography-sizes">Font sizes</a></li>
                                        <li><a href="typography.html#typography-extra-small">Extra small type</a></li>
                                        <li><a href="typography.html#typography-small">Small type</a></li>
                                        <li><a href="typography.html#typography-base">Base/medium type</a></li>
                                        <li><a href="typography.html#typography-large">Large type</a></li>
                                        <li><a href="typography.html#typography-extra-large">Extra large type</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
