<div data-page="modals" class="demo-page-content">

    {{> demo-sidebar }}

    <div class="demo-container-with-sidebar">
        <header class="content-block content-block--strip bg-primary">
            <div class="container">
                <h2>Modals</h2>
            </div>
        </header>


        <!-- REQUIRED FILES -->
        <section id="modalRequired">
            <header class="content-block bg-light-grey">
                <div class="container">
                    <h3>Required files</h3>
                </div>
            </header>
            <div class="content-block">
                <div class="container">
                    <p>SCSS files required: <code>_components.modal.scss</code></p>
                    <p>JS files required: <code>toggle-element.js</code></p>
                </div>
            </div>
        </section>


        <!-- MODAL MARKUP -->
        <section id="modalMarkup">
            <header class="content-block bg-light-grey">
                <div class="container">
                    <h3>The markup</h3>

                    <p>The box wrapping element requires an ID eg <code>#modalExample</code> to be targeted, the two classes <code>.modal</code> and <code>.toggle-fade</code>, and the javascript module to be applied <code>data-js-module="toggleElement"</code></p>

                    <p>The modal itself should be soley for toggling, and an inner element is required with the class <code>.modal__bg</code> where the positioning, alignment, background colour etc is/can be applied.</p>

                    <p>Another inner element is also required with the class <code>.modal__content</code> which is where the content can go.</p>

                    <p>To trigger opening the modal use the 'data-open-el' attribute and ID of the box <code>data-open-el="modalExample"</code></p>

                    <p>To trigger closing the modal use the 'data-close-el' attribute and ID of the box <code>data-close-el="modalExample"</code></p>
                </div>
            </header>
        </section>


        <!-- MODAL CONFIRM -->
        <section id="modalExamples">
            <header class="content-block bg-light-grey">
                <div class="container">
                    <h4>Modal examples</h4>
                    <p>The examples below illustrate how the modal could be used in various ways.</p>

                    <p>Inside the <code>.modal__content</code> element, a box can be added with the class <code>.modal__box</code></p>

                    <p>Various other helper classes are also added to create the examples.</p>

{{> snippet-modal }}
                <div class="container">
            </header>
            <div class="content-block">
                <div class="container">
                    <div class="btns-container">
                        <button type="button" class="btn" data-open-el="modalExample1">Open confirm box</button>
                        <button type="button" class="btn" data-open-el="modalExample2">Open product description</button>
                        <button type="button" class="btn" data-open-el="modalExample3">Open large content</button>
                    </div>
                </div>
            </div>
        </section>


        <!-- HIDDEN MODALS -->
        <div id="modalExample1" class="modal toggle-fade" data-js-module="toggleElement">
            <div class="modal__bg">
                <div class="modal__content p-v-md container">
                    <div class="modal__box p-a-lg text-centre">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pellentesque hendrerit tempus. Morbi eget enim quis nisl commodo aliquet eget sed quam. Morbi ut condimentum nisl. Nam elementum suscipit elit, ut consequat libero interdum.</p>
                        <button type="button" class="btn" data-close-el="modalExample1">Confirm</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="modalExample2" class="modal toggle-fade" data-js-module="toggleElement">
            <div class="modal__bg">
                <div class="modal__content container p-v-md">
                    <div class="modal__box max-width-text-wide modal__box--with-close overflow-hidden">
                        <button type="button" class="modal__close" data-close-el="modalExample2"><i class="icon">{{> icon-cross }}</i></button>
                        <div class="grid grid--gutter-none">
                            <div class="grid__col grid__col-md-6 p-a-resp-lg align-content-centre">
                                <img class="width-100 max-width-sm" src="https://unsplash.it/300/300" alt="Placeholder image">
                            </div>
                            <div class="grid__col grid__col-md-6 bg-light-grey p-a-resp-lg">
                                <h3>Donec ut ipsum</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac convallis arcu. Integer at tellus velit. Etiam placerat nunc eros, vel tincidunt erat dapibus in. Curabitur ultrices sagittis elit, sed porta sem bibendum nec.</p>
                                <ul class="list--featured--ticks">
                                    <li>Nunc non sapien ac erat vehicula suscipit</li>
                                    <li>Curabitur sit amet enim odio</li>
                                    <li>Fusce cursus eu enim nec venenatis</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="modalExample3" class="modal toggle-fade" data-js-module="toggleElement">
            <div class="modal__bg bg-transparent-very-dark-grey text-centre">
                <div class="modal__content p-v-md">
                    <div class="container clear m-b-md">
                        <button type="button" class="float-right circle-icon circle-icon--close circle-icon--outlined--inverted circle-icon--sm-resp" data-close-el="modalExample3"><i class="icon">{{> icon-cross }}</i></button>
                    </div>

                    <div class="container">
                        <img class="border-radius block m-centre max-width-100" src="http://placehold.it/700x400">

                        <div class="content-block p-b-none">
                            <h2 class="h1">I am a modal title</h2>
                            <div class="font-size-lg">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pellentesque hendrerit tempus. Morbi eget enim quis nisl commodo aliquet eget sed quam. Morbi ut condimentum nisl. Nam elementum suscipit elit, ut consequat libero interdum.</p>
                                <p>In hac habitasse platea dictumst. Duis aliquet turpis quis arcu euismod, et luctus sapien facilisis. Sed imperdiet dui id mi varius gravida. Etiam convallis risus ac nulla consequat mattis. Nulla condimentum egestas pulvinar. Maecenas commodo leo in nunc luctus euismod. Sed id mi nec magna vehicula dictum ac eu velit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
