<div data-page="navbar" class="demo-page-content">

    {{> demo-sidebar }}

    <div class="demo-container-with-sidebar">
        <header class="content-block content-block--strip bg-primary">
            <div class="container">
                <h2>Navbar</h2>
            </div>
        </header>


        <!-- REQUIRED FILES -->
        <section id="buttons-required">
            <header class="content-block bg-light-grey">
                <div class="container">
                    <h3>Required files</h3>
                </div>
            </header>
            <div class="content-block">
                <div class="container">
                    <p>SCSS files required: <code>_components.navbar.scss</code></p>
                </div>
            </div>
        </section>


        <!-- NAVBAR MARKUP -->
        <section id="navbar-markup">
            <header class="content-block bg-light-grey">
                <div class="container">
                    <h3>The markup</h3>
{{> snippet-navbar }}
                </div>
            </header>
            <div class="content-block">
                <div class="container">
                    <nav class="navbar">
                        <div class="container clearfix">
                            <a class="navbar__brand float-left-md" href="/">{{> pod-point-logo }}</a>

                            <ul class="nav navbar__nav float-right-md">
                                <li class="nav__item dropdown">
                                    <button id="toggle-user-dropdown-menu" class="nav__link" data-toggle-el="user-dropdown-menu">
                                        Dropdown
                                    </button>

                                    <ul data-js-module="toggleElement" class="nav dropdown-menu toggle" id="user-dropdown-menu">
                                        <li class="nav__item"><a class="nav__link" href="#">Item 1</a></li>
                                        <li class="nav__item"><a class="nav__link" href="#">Item 2</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </section>
    </div>
</div>
