<div data-page="navbar" class="demo-page-content">

    {{> demo-sidebar }}

    <div class="demo-container-with-sidebar">
        <header class="content-block content-block--strip bg-primary">
            <div class="container">
                <h2>Navbar</h2>
            </div>
        </header>


        <!-- REQUIRED FILES -->
        <section id="buttons-required">
            <header class="content-block bg-light-grey">
                <div class="container">
                    <h3>Required files</h3>
                </div>
            </header>
            <div class="content-block">
                <div class="container">
                    <p>SCSS files required: <code>_components.navbar.scss</code></p>
                    <p>SCSS files optional: <code>_components.dropdown.scss</code></p>
                </div>
            </div>
        </section>

        <!-- DEFAULT -->
        <section id="navbar-markup">
            <header class="content-block bg-light-grey">
                <div class="container">
                    <h3>The markup</h3>
{{> snippet-navbar }}
                </div>
            </header>
            <div class="content-block">
                <div class="container">
                    <nav class="navbar">
                        <div class="clearfix">
                            <a class="navbar__brand float-left-md" href="/">Brand</a>

                            <button class="navbar__collapse-toggle" type="button" data-toggle-el="navbar-collapse">
                                <i class="icon icon--opened">{{> icon-cross }}</i>
                                <i class="icon icon--closed">{{> icon-navicon }}</i>
                                <span class="hidden">Toggle navigation</span>
                            </button>

                            <nav class="navbar__collapse" id="navbar-collapse" data-js-module="toggleElement">
                                <ul class="nav navbar__nav float-left-md">
                                    <li class="nav__item"><a href="#" class="nav__link">Item 1</a></li>
                                    <li class="nav__item"><a href="#" class="nav__link">Item 2</a></li>
                                    <li class="nav__item"><a href="#" class="nav__link">Item 3</a></li>
                                </ul>

                                <ul class="nav navbar__nav float-right-md">
                                    <li class="nav__item"><a href="#" class="nav__link">Item 4</a></li>
                                    <li class="nav__item"><a href="#" class="nav__link">Item 5</a></li>
                                    <li class="nav__item"><a href="#" class="nav__link">Item 6</a></li>
                                </ul>
                            </nav>
                        </div>
                    </nav>
                </div>
            </div>
        </section>

        <!-- DROPDOWN -->
        <section id="navbar-markup">
            <header class="content-block bg-light-grey">
                <div class="container">
                    <h3>Navbar with dropdown</h3>
{{> snippet-navbar }}
                </div>
            </header>
            <div class="content-block">
                <div class="container">
                    <nav class="navbar">
                        <div class="clearfix">
                            <a class="navbar__brand float-left-md" href="/">Brand</a>

                            <ul class="nav navbar__nav float-right">
                                <li class="nav__item dropdown">
                                    <button id="toggle-user-dropdown-menu" class="nav__link" data-toggle-el="user-dropdown-menu">
                                        <span class="m-r-xs">Dropdown</span>
                                        <i class="icon icon--xxs icon--opened">{{> icon-chevron-up }}</i>
                                        <i class="icon icon--xxs icon--closed">{{> icon-chevron-down }}</i>
                                    </button>

                                    <ul data-js-module="toggleElement" class="nav dropdown-menu toggle" id="user-dropdown-menu">
                                        <li class="nav__item"><a class="nav__link" href="#">Item 1</a></li>
                                        <li class="nav__item"><a class="nav__link" href="#">Item 2</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </section>
    </div>
</div>
