<div data-page="popup" class="demo-page-content">

    {{> demo-sidebar }}

    <div class="demo-container-with-sidebar">
        <header class="content-block content-block--strip bg-primary">
            <div class="container">
                <h2>Popup</h2>
            </div>
        </header>


        <!-- REQUIRED FILES -->
        <section id="confirmRequired">
            <header class="content-block bg-light-grey">
                <div class="container">
                    <h3>Required files</h3>
                </div>
            </header>
            <div class="content-block">
                <div class="container">
                    <p>SCSS files required: <code>_components.popup.scss</code></p>
                    <p>JS files required: <code>toggle-element.js</code></p>
                </div>
            </div>
        </section>


        <!-- CONFIRM POPUP -->
        <section id="confirmMarkup">
            <header class="content-block bg-light-grey">
                <div class="container">
                    <h3>The markup</h3>

                    <p>The box wrapping element requires an ID eg <code>#popupExample</code> to be targeted, the two classes <code>.popup</code> and <code>.hidden</code>, and the javascript module to be applied <code>data-js-module="toggleElement"</code></p>

                    <p>The box itself required the class <code>.popup__box</code> and a modifying class can be added to create a wider box <code>.popup__box--lg</code></p>

                    <p>To trigger opening the popup use the 'data-open-el' attribute and ID of the box <code>data-open-el="popupExample"</code></p>

                    <p>To trigger closing the popup use the 'data-close-el' attribute and ID of the box <code>data-close-el="popupExample"</code></p>

{{> snippet-popup }}

                </div>
            </header>
            <div class="content-block">
                <div class="container">
                    <div class="btns-container">
                        <button type="button" class="btn" data-open-el="popupConfirm">Open confirm popup</button>
                        <button type="button" class="btn" data-open-el="popupProduct">Open product popup</button>
                    </div>
                </div>
            </div>
        </section>

        <div id="popupConfirm" class="popup hidden" data-js-module="toggleElement">
            <div class="popup__box popup__box--sm p-a-lg text-centre">
                <p>Hi, I am a confirm style popup box</p>
                <div class="btns-container btns-container--inline">
                    <button type="button" class="btn" data-close-el="popupConfirm">Confirm</button>
                    <button type="button" class="btn btn--tertiary" data-close-el="popupConfirm">Cancel</button>
                </div>
            </div>
        </div>

        <div id="popupProduct" class="popup hidden" data-js-module="toggleElement">
            <div class="popup__box popup__box--lg p-a-none overflow-hidden">
                <button type="button" class="pos-abs pin-top-right m-t-md m-r-md" data-close-el="popupProduct"><i class="icon">{{> icon-cross }}</i></button>
                <div class="grid grid--gutter-none">
                    <div class="grid__col grid__col-md-6 p-a-resp-lg">
                        HJello
                    </div>
                    <div class="grid__col grid__col-md-6 bg-light-grey p-a-resp-lg">
                        <h3>Best product</h3>
                        <p>This product is amazing because of the following reasons...</p>
                        <ul class="list--featured--ticks">
                            <li>It has excellent features</li>
                            <li>All the mod cons</li>
                            <li>Great assets</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
