<div data-page="version-updates" class="demo-page-content">

    {{> demo-sidebar }}

    <div class="demo-container-with-sidebar">
        <header class="content-block content-block--strip bg-primary">
            <div class="container">
                <h2>Version updates</h2>
                <ul class="list--inline remove-link-styles font-weight-bold">
                    <li><a href="#v1.1.0">v1.1.0</a></li>
                </ul>
            </div>
        </header>


        <section>
            <header class="content-block bg-light-grey">
                <div class="container">
                    <p>Any changes that may cause issues for users are listed here.</p>
                </div>
            </header>

            <div class="content-block">
                <div class="container">
                    <div id="v1.1.0">
                        <h4>v1.1.0</h4>
                        <p>A slight scss file restructure to move utilities into own folder before settings.</p>
                        <p>When importing scss files indiviually, you will need to import the utilities file before the settings as per the updated docs <a href="scss.html#css-structure-imports">here</a>.</p>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
