<div data-page="version-updates" class="demo-page-content">

    {{> demo-sidebar }}

    <div class="demo-container-with-sidebar">
        <header class="content-block content-block--strip bg-primary">
            <div class="container">
                <h2>Version updates</h2>
                <ul class="list--inline remove-link-styles font-weight-bold">
                    <li><a href="#v1.3.1">v1.3.1</a></li>
                    <li><a href="#v1.2.2">v1.2.2</a></li>
                    <li><a href="#v1.1.0">v1.1.0</a></li>
                </ul>
            </div>
        </header>


        <section>
            <header class="content-block bg-light-grey">
                <div class="container">
                    <p>Any changes that may cause issues for users are listed here.</p>
                </div>
            </header>

            <div class="content-block">
                <div class="container">
                    <div id="v1.3.1">
                        <h4>v1.3.1</h4>
                        <p>Javascript files are now exported from a main index file.</p>
                        <p>The dist folder has been added back in to the NPM package so you can import transpiled JS files. But you don't need to import full paths any more, you can import modules as per the docs <a href="javascript.html">here</a>.</p>
                    </div>
                </div>
            </div>

            <div class="content-block">
                <div class="container">
                    <div id="v1.2.2">
                        <h4>v1.2.2</h4>
                        <p>Dist folder has been removed.</p>
                        <p>Assets are now compiled in Travis so this folder has been deleted and gitignored. You no longer need to run Gulp before committing.</p>
                    </div>
                </div>
            </div>

            <div class="content-block">
                <div class="container">
                    <div id="v1.1.0">
                        <h4>v1.1.0</h4>
                        <p>A slight scss file restructure to move utilities into own folder before settings.</p>
                        <p>When importing scss files indiviually, you will need to import the utilities file before the settings as per the updated docs <a href="scss.html#css-structure-imports">here</a>.</p>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
