{{> demo-header }}
<div data-page="video">

	<header class="demo-section-heading">
		<div class="container content-block">
			<h2>Video</h2>
		</div>
	</header>

	<div class="container content-block">
        <div class="video-wrapper" id="homechargeYouTubeVideo" data-js-module="video" data-video-type="youtube" data-video-id="CrQD-grGlHM" data-video-width="640" data-video-height="360" data-video-fullscreen="true"></div>
	</div>

	<div class="container content-block">
        <div class="video-wrapper" id="homechargeVimeoVideo" data-js-module="video" data-video-type="vimeo" data-video-id="220303997" data-video-width="640" data-video-height="360" data-video-fullscreen="true"></div>
    </div>

</div>
