// sass-lint:disable nesting-depth

.navbar {
    border-bottom: $border-thin-light;
}

.navbar__collapse-toggle {
    display: block;
    float: right;

    @include screen-md-min {
        display: none;
    }
}

.navbar__collapse {
    clear: both;
    display: none;

    @include screen-md-min {
        clear: none;
        display: block;
    }

    &.is-active {
        display: block;
    }
}

.navbar__brand {
    display: block;
    float: left;
    padding: ($typography-v-spacing * .75) 0;

    > img {
        max-height: $space-xl;
        padding: 0 $space-xs;
    }
}

.navbar__nav {
    padding-bottom: 0;

    .nav__link {
        padding: $typography-v-spacing;
    }

    > .nav__item {
        display: block;

        @include screen-md-min {
            display: inline-block;
        }

        &:hover > .nav__link {
            background-color: $grey-very-light;
        }
    }
}

.dropdown > .nav__link {
    background: url($css-bg-path+'icons/chevron-down.svg') no-repeat;
    background-position: 95% center;
    background-size: $caret-size;
    padding-right: ($caret-size * 3);

    &.is-active {
        background-image: url($css-bg-path+'icons/chevron-up.svg');
    }
}
