// =============================================================================
//  COMPONENTS - POPUP
// =============================================================================

.popup {
    @include position(fixed, 0 0 0 0);
    @include p-h-resp;
    @include align-content-centre;
    background-color: $transparent-grey;
    min-height: 100%;
    overflow-y: scroll;
    padding-bottom: $space-md;
    padding-top: $space-md;
    width: 100%;
    z-index: 101;

    &__box {
        background-color: $white;
        border: $border-base;
        border-radius: $border-radius-base;
        box-shadow: $shadow-floating;
        margin: auto;
        max-width: $popup-box-width-md;
        position: relative;
        z-index: auto;

        &--sm {
            max-width: $popup-box-width-sm;
        }

        &--xs {
            max-width: $popup-box-width-xs;
        }

        &--lg {
            max-width: $popup-box-width-lg;
        }

        &--xl {
            max-width: $popup-box-width-xl;
        }

        &--with-close {
            padding-top: $space-sm * 2.5;

            @include screen-md-min {
                padding-top: 0;
            }

        }
    }

    &__close {
        @include position(absolute, $space-sm $space-sm null null);
        @include clickable;
        width: $icon-size-sm;

        @include screen-md-min {
            right: $space-md;
            top: $space-md;
            width: $icon-size-md;
        }
    }
}
