// =============================================================================
//  COMPONENTS - HERO
// =============================================================================

.hero {
    overflow: hidden;
    position: relative;

    .container {
        position: relative;
        z-index: 3;
    }

    .content-block {
        min-height: $hero-content-min-height-mobile;

        @include screen-md-min {
            min-height: $hero-content-min-height;
        }
    }

    &__content {
        max-width: $hero-content-max-width-mobile;

        @include screen-md-min {
            max-width: $hero-content-max-width;
        }
    }

    &--fade-in {
        &::before {
            @include full-overlay($grey-dark);
            @include fade-out($duration: 1.5s);
            content: '';
            opacity: 1;
        }
    }

    &--content-pop-in {
        .hero__content {
            @include pop-up-fade-in;
        }
    }

    &--content-right {
        .hero__content {
            margin-left: auto;
            text-align: right;
        }
    }

    &--content-centre {
        .hero__content {
            @include margin(null auto);
            text-align: center;
        }
    }
}
