// =============================================================================
//  COMPONENTS - MODAL
// =============================================================================

.modal {

    &__bg {
        @include position(fixed, 0 0 0 0);
        @include align-content-centre;
        background-color: $transparent-grey;
        min-height: 100%;
        overflow-y: scroll;
        width: 100%;
        z-index: 101;
    }

    &__content {
        margin: auto;
        min-width: 100%;
    }

    &__close {
        @include clickable;
    }

    &__box {
        background-color: $white;
        border: $border-base;
        border-radius: $border-radius-base;
        box-shadow: $shadow-floating;
        margin: auto;
        max-width: $popup-box-width-md;
        position: relative;
        z-index: auto;

        &--with-close {
            padding-top: $space-md * 2;

            @include screen-md-min {
                padding-top: 0;
            }
        }

        .modal__close {
            @include position(absolute, $space-sm $space-sm null null);

            @include screen-md-min {
                right: $space-md;
                top: $space-md;
            }
        }
    }
}
