// =============================================================================
//  COMPONENTS - PLUS MINUS TOGGLE
// =============================================================================

.plus-minus-toggle {
    cursor: pointer;
    width: $plus-minus-container-size;
    height: $plus-minus-container-size;

    span {
        display: block;
        position: relative;
        top: $plus-minus-size + $plus-minus-stroke;
        right: 0;
        float: right;
        width: $plus-minus-size;
        height: $plus-minus-size;
        transition: .5s ease-in-out;
        transform: rotate(0deg);

        &:before,
        &:after {
            content: '';
            display: block;
            height: $plus-minus-stroke;
            width: 100%;
            background-color: $icon-color;
            @include position(absolute, 0 null null null);
            border-radius: $plus-minus-stroke-radius;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
            opacity: 1;
        }

        &:before {
            top: 0;

            .sub-nav-open & {
                transform: rotate(180deg);
            }
        }

        &:after {
            transform: rotate(90deg);

            .sub-nav-open &,
            .accordion .is-open & {
                opacity: 0;
                transform: rotate(360deg);
            }
        }
    }

    &--primary-in-circle {
        border-radius: 50%;
        border: $plus-minus-stroke solid $primary-color;

        span {
            @include position(relative, $circle-plus-minus-t-spacing $circle-plus-minus-r-spacing null null);
            width: $circle-plus-minus-size;
            height: $circle-plus-minus-size;

            &:before,
            &:after {
                background-color: $primary-color;
            }
        }
    }
}
