// =============================================================================
//  COMPONENTS - BUTONS
// =============================================================================

// sass-lint:disable nesting-depth

.btn {
    @include remove-link-styles;
    @include padding($button-v-padding $button-h-padding-mobile);
    @include button-colour($primary-colour);
    border: $border-primary;
    border-radius: $button-radius;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: $button-font-size;
    font-weight: $font-weight-bold;
    letter-spacing: $button-letter-spacing;
    line-height: $button-line-height;
    max-width: $button-max-width;
    min-height: $button-min-height;
    transition: opacity .2s ease;
    vertical-align: middle;
    width: auto;

    @include screen-sm-min {
        @include padding(null $button-h-padding);
    }

    &:focus {
        outline: none;
    }

    &.btn--secondary {
        @include button-colour($grey);
    }

    &.btn--tertiary {
        @include button-colour-inverted($grey-dark);
    }

    &.btn--danger {
        @include button-colour($error-red);
    }

    &.btn--selected {
        @include hide-text-not-pseudo;

        &::before {
            @include m-centre;
            background-image: url($css-bg-path+'icons/tick-white.svg');
            background-size: cover;
            content: '';
            display: block;
            height: $button-icon-size;
            width: $button-icon-size;
        }

        &:hover,
        &:focus,
        &:active {
            &:not(.is-disabled) {
                &:not([disabled]) {
                    &::before {
                        background-image: url($css-bg-path+'icons/tick-primary.svg');
                    }
                }
            }
        }
    }

    &.btn--passive {
        @include clickable;
        background-color: transparent;
        border: 0;
        color: $font-colour-base;
        font-weight: $font-weight-bold;
        line-height: $line-height-base;
        max-width: auto;
        min-height: auto;
        padding: 0;
        text-decoration: underline;

        @include screen-sm-min {
            padding: 0;
        }

        &:hover,
        &:focus,
        &:active {
            &:not(.is-disabled) {
                &:not([disabled]) {
                    color: $font-colour-base;
                    opacity: $opacity-hover;
                }
            }
        }
    }

    &.btn--control {
        @include padding($button-control-v-padding $button-control-h-padding-mobile);
        @include button-colour-inverted($primary-colour);
        border-color: $grey-keyline;
        border-radius: 2px;
        border-width: 1px;
        font-size: $button-control-font-size;
        min-height: $button-control-min-height;

        @include screen-sm-min {
            @include padding(null $button-control-h-padding);
        }

        &.btn--secondary {
            @include button-colour-inverted($font-colour-base);
            border-color: $grey-keyline;
        }

        &.btn--danger {
            @include button-colour-inverted($error-red);
            border-color: $grey-keyline;
        }
    }
}
