// =============================================================================
//  COMPONENTS - TYPEAHEAD
// =============================================================================

.typeahead {
    cursor: pointer;
    display: block;
    margin-top: 0;
    position: relative;
    vertical-align: middle;

    &:focus {
        outline: none;
    }

    .typeahead__select {
        display: none;
    }

    .typeahead__input {
        @include input-styles;
        @include font-size-responsive($typeahead-font-size-mobile, $typeahead-font-size-desktop);

        border: 0;
        border-bottom: $border-thin-light;
        margin-bottom: -1px;

        &:focus {
            &:not(disabled) {
                @include input-border--hover($grey-keyline-light);
            }
        }

        &:hover {
            &:not(:disabled) {
                @include input-border--hover($grey-keyline-light);
            }
        }
    }

    .typeahead__item {
        @include font-size-responsive($typeahead-font-size-mobile, $typeahead-font-size-desktop);

        padding: $space-xs;
    }

    .typeahead__list {
        &--dropdown {
            @include multiple-list;

            position: absolute;
        }

        &--single {
            @include form-control-icon($css-bg-path+'icons/chevron.svg');

            padding-right: $typeahead-padding;
            position: initial;

            .typeahead__item {
                &--selectable {
                    margin-right: $typeahead-selectable-margin-right;
                    overflow: hidden;
                    padding: 0;
                    white-space: nowrap;
                }
            }
        }

        &--multiple {
            @include multiple-list;

            position: relative;
        }
    }
}
