// sass-lint:disable nesting-depth

.navbar {
    border-bottom: $border-thin-light;
}

.navbar__collapse-toggle {
    display: block;
    float: right;
    padding: ($typography-v-spacing * .75) 0;

    .icon--opened {
        display: none;
    }

    .icon--closed {
        display: inline-block;
    }

    &.is-active {
        .icon--opened {
            display: inline-block;
        }

        .icon--closed {
            display: none;
        }
    }

    @include screen-md-min {
        display: none;
    }
}

.navbar__collapse {
    clear: both;
    display: none;
    padding-top: $space-sm;

    @include screen-md-min {
        clear: none;
        display: block;
        padding-top: 0;
    }

    &.is-active {
        display: block;
    }
}

.navbar__brand {
    display: block;
    float: left;
    padding: $typography-v-spacing;

    @include screen-md-min {
        margin-right: $space-sm;
    }

    > img {
        max-height: $space-xl;
        padding: 0 $space-xs;
    }
}

.navbar__nav {
    padding-bottom: 0;

    .nav__link {
        padding: $typography-v-spacing;
    }

    > .nav__item {
        display: block;

        @include screen-md-min {
            display: inline-block;
        }

        &:hover > .nav__link {
            background-color: $grey-very-light;
        }
    }
}

.dropdown > .nav__link {
    .icon--opened {
        display: none;
    }

    .icon--closed {
        display: inline-block;
    }

    &.is-active {
        .icon--opened {
            display: inline-block;
        }

        .icon--closed {
            display: none;
        }
    }
}
