// =============================================================================
//  COMPONENTS - COOKIE NOTICE
// =============================================================================

// Creating equivalent REM values to be pixels (due to some projects using the snippet having different font sizes on the HTML)
$button-font-size-px: 15px;
$font-size-sm-mobile-px: 12px;
$font-size-sm-desktop-px: 14px;
$button-letter-spacing-px: 1px;

.cookie-wrapper {
    @include position(fixed, null null 0 0);
    background-color: $grey-dark;
    color: $white;
    padding: $space-md;
    width: 100%;
    z-index: 9999;
}

.cookie-container {
    margin: 0 auto;
    max-width: $max-width-content-wide;
}

.cookie {
    margin: -$grid-gutter-xs;

    @include screen-sm-min {
        display: flex;
        flex-direction: row;
    }

    &__col {
        padding: $grid-gutter-xs;
    }

    &__col--grow {
        flex: 1;
    }

    &__col-centre {
        align-self: center;
    }

    &__notice {
        @include font-size-responsive($font-size-sm-mobile-px, $font-size-sm-desktop-px);
        padding-bottom: 0;
    }

    &__btn {
        @include remove-link-styles;
        @include padding($button-v-padding $button-h-padding-mobile);
        @include button-colour($grey);
        border: $border-stroke solid $grey;
        border-radius: $button-radius;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        font-size: $button-font-size-px;
        font-weight: $font-weight-bold;
        letter-spacing: $button-letter-spacing-px;
        line-height: $button-line-height;
        max-width: $button-max-width;
        min-height: $button-min-height;
        transition: opacity .2s ease;
        vertical-align: middle;
        width: auto;

        @include screen-sm-min {
            @include padding(null $button-h-padding);
        }

        &:focus {
            outline: none;
        }
    }
}
