// =============================================================================
//  COMPONENTS - CHOICES COUNTRY CODE
// =============================================================================

.choices-country-code {
    $choices-country-code-width: 80px;
    $choices-country-code-selection-width: 340px;
    $choices-country-code-margin: 5px;

    max-width: $max-width-text;

    .choices {
        float: left;
        margin-right: $choices-country-code-margin;
        max-width: $max-width-text;

        @include screen-sm-min {
            max-width: $choices-country-code-width;

            .choices__list.choices__list--dropdown.is-active {
                max-width: $max-width-text;
                min-width: $choices-country-code-selection-width;
            }
        }

        .choices__list.choices__list--single {
            .choices__item.choices__item--selectable {
                .country-name,
                .country-dialling-code {
                    display: none;
                }
          }
        }

        .choices__list.choices__list--dropdown {
            .country-name {
                margin-left: $choices-country-code-margin;
            }
        }
    }

    input {
        &.form__control {
            max-width: $max-width-text;

            @include screen-sm-min {
                max-width: calc(100% - #{$choices-country-code-width} - #{$choices-country-code-margin});
            }
      }
    }
}
