// =============================================================================
//	ELEMENTS - HORIZONTAL RULE (HR)
// =============================================================================

hr {
    margin: 0 0 $typography-v-spacing;
    border-bottom: $border-thin;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    background-color: $gray-keyline-very-light;
}
