// =============================================================================
//  ELEMENTS - DL
// =============================================================================

.dl {
    margin-bottom: rem(15);

    dt {
        font-weight: bold;
        margin-top: rem(15);
    }

    dd {
        margin: 0;
    }
}
