// =============================================================================
//	ELEMENTS - FIGURE
// =============================================================================

figure {
    overflow-x: scroll;
    background-color: $gray-dark;
    font-weight: bold;
    box-shadow: $box-shadow-inset;
    color: white;
    margin: 0;
    padding: $card-v-padding $card-h-padding;
    border: $border-base;
    border-radius: $border-radius-base;
}
