// =============================================================================
//  OBJECTS - CONTAINERS
// =============================================================================

.container {
    @include container;
    box-sizing: border-box;
    max-width: $max-width-content-tablet;

    @include screen-md-min {
        max-width: $max-width-content;
    }
}

.max-width-text {
    max-width: $max-width-text;

    &--wide {
        max-width: $max-width-text-wide;
    }

    &--narrow {
        max-width: $max-width-text-narrow;
    }
}


.btns-container {
    @include margin($-button-b-spacing null);
    overflow: hidden;

    .btn {
        display: block;
        @include margin($button-b-spacing null);
    }

    &--inline {
        @include margin(null $-buttons-inline-gutter);

        .btn {
            display: inline-block;
            @include margin(null $buttons-inline-gutter);
        }
    }
}
