.nav {
    @include remove-list-styles;
}

.nav__item {
    display: inline-block;
    padding: 0;
    position: relative;
}

.nav__link {
    @include remove-link-styles;
    display: block;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    z-index: 1;
}

#language-switcher {
    .nav__link {
        .lang {
            background: $grey-light;
            display: inline-block;
            margin-left: 10px;
            padding: 8px;
            text-decoration: none;

            &.active {
                background: $primary-base;
                color: $white;
            }
        }
    }
}

