// =============================================================================
//  OBJECTS - GRID
// =============================================================================

.grid {
    @include margin((-$grid-gutter));
    display: flex;
    flex-wrap: wrap;

    > [class^='grid__col'] {
        @include padding($grid-gutter);
        width: 100%;
    }

    &--gutter-none {
        > [class^='grid__col'] {
            padding: 0;
        }
    }

    &--v-gutter-none {
        > [class^='grid__col'] {
            @include padding(0 null);
        }
    }

    &--h-gutter-none {
        > [class^='grid__col'] {
            @include padding(null 0);
        }
    }

    @for $i from 1 through $default-grid-cols {
        > .grid__col-#{$i} {
            width: col-width($i, $default-grid-cols);
        }

        > .grid__col-offset-#{$i} {
            margin-left: col-width($i, $default-grid-cols);
        }
    }

    @include screen-sm-min {
        @for $i from 1 through $default-grid-cols {
            > .grid__col-sm-#{$i} {
                width: col-width($i, $default-grid-cols);
            }

            > .grid__col-offset-sm-#{$i} {
                margin-left: col-width($i, $default-grid-cols);
            }
        }
    }

    @include screen-md-min {
        @for $i from 1 through $default-grid-cols {
            > .grid__col-md-#{$i} {
                width: col-width($i, $default-grid-cols);
            }

            > .grid__col-offset-md-#{$i} {
                margin-left: col-width($i, $default-grid-cols);
            }
        }
    }

    @include screen-lg-min {
        @for $i from 1 through $default-grid-cols {
            > .grid__col-lg-#{$i} {
                width: col-width($i, $default-grid-cols);
            }

            > .grid__col-offset-lg-#{$i} {
                margin-left: col-width($i, $default-grid-cols);
            }
        }
    }
}
