// =============================================================================
//  OBJECTS - CONTAINERS
// =============================================================================

.container {
    @include container;
    box-sizing: border-box;
    max-width: $max-width-content-tablet;

    @include screen-md-min {
        max-width: $max-width-content;
    }
}

.max-width-text {
    max-width: $max-width-text;

    &--wide {
        max-width: $max-width-text-wide;
    }

    &--narrow {
        max-width: $max-width-text-narrow;
    }
}

.btn-group {
    margin-bottom: -$buttons-gutter;
    margin-right: -$buttons-gutter;

    .btn {
        display: inline-block;
        margin-bottom: $buttons-gutter;
        margin-right: ($buttons-gutter - 4px); // Inline-block creates 4px more space
    }
}
