// =============================================================================
//  OBJECTS - ROW
// =============================================================================

.row {
    margin: -$grid-gutter;

    @include screen-sm-min {
        display: flex;
        flex-direction: row;
    }

    &__col {
        padding: $grid-gutter;
    }

    &__col-grow {
        flex: 1;
    }

    &__col-centre {
        align-self: center;
    }

    &.row--reverse {
        flex-direction: row-reverse;
    }

    &.row--gutter-sm {
        margin: (-$grid-gutter-sm);

        > .row__col {
            padding: $grid-gutter-sm;
        }
    }

    &.row--v-gutter-sm {
        margin-bottom: (-$grid-gutter-sm);
        margin-top: (-$grid-gutter-sm);

        > .row__col {
            padding-bottom: $grid-gutter-sm;
            padding-top: $grid-gutter-sm;
        }
    }

    &.row--h-gutter-sm {
        margin-left: (-$grid-gutter-sm);
        margin-right: (-$grid-gutter-sm);

        > .row__col {
            padding-left: $grid-gutter-sm;
            padding-right: $grid-gutter-sm;
        }
    }

    &.row--gutter-xs {
        margin: (-$grid-gutter-xs);

        > .row__col {
            padding: $grid-gutter-xs;
        }
    }

    &.row--v-gutter-xs {
        margin-bottom: (-$grid-gutter-xs);
        margin-top: (-$grid-gutter-xs);

        > .row__col {
            padding-bottom: $grid-gutter-xs;
            padding-top: $grid-gutter-xs;
        }
    }

    &.row--h-gutter-xs {
        margin-left: (-$grid-gutter-xs);
        margin-right: (-$grid-gutter-xs);

        > .row__col {
            padding-left: $grid-gutter-xs;
            padding-right: $grid-gutter-xs;
        }
    }

    &.row--gutter-none {
        margin: 0;

        > .row__col {
            padding: 0;
        }
    }

    &.row--v-gutter-none {
        margin-bottom: 0;
        margin-top: 0;

        > .row__col {
            padding-bottom: 0;
            padding-top: 0;
        }
    }

    &.row--h-gutter-none {
        margin-left: 0;
        margin-right: 0;

        > .row__col {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
