// =============================================================================
//  TOOLS - ASPECT RATIO
// =============================================================================

// Maintain aspect radio mixin
@mixin aspect-ratio($width, $height) {
    position: relative;

    &::before {
        display: block;
        content: '';
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    > .aspect-ratio-content {
        @include position(absolute, 0 0 0 0);
    }
}
