// =============================================================================
//  TOOLS - ICONS IN CIRCLES
// =============================================================================

// SVG icon in a circle - defining the colours
@mixin icon-in-circle($bg-colour: $icon-colour, $colour: $white, $border: 0) {
    background-color: #{$bg-colour};
    border: $border;
    border-radius: 50%;
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;

    .icon {
        height: 100%;
        margin: 0;
        width: 100%;
    }

    svg,
    .icon__img {
        margin: 0;
    }

    svg {
        fill: #{$colour};
    }

    &::before {
        color: $colour;
    }
}

// SVG icon in a circle - defining the size
@mixin icon-in-circle--size($dimension: $circle-icon-size-md) {
    font-size: $dimension / 4;
    height: $dimension;
    width: $dimension;

    svg,
    .icon__img {
        height: $dimension / 2;
        width: $dimension / 2;
    }
}
