// =============================================================================
//  TOOLS - ANIMATION SLIDES
// =============================================================================

// Slide down (collapsed)
@mixin slide-down-collapsed($duration) {
    max-height: 0;
    transition: max-height $duration ease-out;
    overflow: hidden;
}

// Slide down (active/open)
@mixin slide-down-active($duration, $approx-height) {
    max-height: $approx-height;
    transition: max-height $duration ease-in;
    overflow: hidden;
}
