// =============================================================================
//	TOOLS - POSITIONING
// =============================================================================

@mixin position($position, $top, $right, $bottom, $left) {
    @if $position != null {
        position: $position;
    }
    @if $top != null {
        top: $top;
    }
    @if $right != null {
        right: $right;
    }
    @if $bottom != null {
        bottom: $bottom;
    }
    @if $left != null {
        left: $left;
    }
}
