// =============================================================================
//  TOOLS - FORMS
// =============================================================================

@mixin placeholder {
    placeholder {
        @content;
    }
}

@include placeholder {
    color: $input-placeholder-color;
}

@mixin input-styles {
    font-size: $font-size-forms-md;
    width: 100%;
    height: $input-height;
    appearance: none;
    padding: $input-v-padding $input-h-padding;
    display: block;
    max-width: $form-field-max-width;
}

@mixin input-border {
    transition: border-color;
    background-color: $background-color-base;
    border: $form-border-base;
    border-radius: $form-border-radius;
}

@mixin input-border--focus {
    color: $font-color-base;
    border-color: $font-color-base;
    outline: none;
}

@mixin input-border--hover {
    color: $font-color-base;
    border-color: $font-color-base;
}

@mixin input-border--disabled {
    opacity: .4;
    cursor: not-allowed;
    background-color: $gray-very-light;
}
