// =============================================================================
//  TRUMPS - TYPOGRAPHY
// =============================================================================

// sass-lint:disable no-important

.font-size-xs {
    @include font-size-xs;
}

.font-size-sm {
    @include font-size-sm;
}

.font-size-md {
    @include font-size-md;
}

.font-size-lg {
    @include font-size-lg;
}

.font-size-xl {
    @include font-size-xl;
}

.uppercase {
    text-transform: uppercase !important;
}

.lowercase {
    text-transform: lowercase !important;
}

.primary {
    color: $primary-colour !important;

    a {
        border-bottom: 1px solid $primary-colour !important;
    }
}

.font-regular {
    font-family: $font-weight-regular !important;
    font-weight: normal !important;
}

.font-bold {
    font-weight: $font-weight-bold !important;
}

.color-base {
    color: $font-colour-base !important;
}

.color-light {
    color: $font-colour-light !important;
}

.color-very-light {
    color:  $font-colour-very-light !important;
}

.remove-link-styles {
    @extend %remove-link-styles;

    a {
        @extend %remove-link-styles;
    }
}
