// =============================================================================
//  TRUMPS - HELPERS
// =============================================================================

// sass-lint:disable no-important

// For fields with disabled attribute or .is-disabled class
.is-disabled,
[disabled] {
    cursor: not-allowed !important;
    opacity: $opacity-disabled;

    &:hover,
    &:focus,
    &:active {
        opacity: $opacity-disabled !important;
    }
}

// To remove disabled styles applied
.is-not-disabled {
    @include override-disabled-styles;
}

// Apply clearfix styles with classes .clearfix or .clear
.clear,
.clearfix {
    @include clearfix;
}

// Flip element horizontally
.flip-h {
    filter: FlipH;
    transform: scaleX(-1);
}

// Flip element vertically
.flip-v {
    filter: FlipV;
    transform: scaleY(-1);
}

// Uses display flex to vertically align content
.v-align-content {
    @include v-align;
}

// Styles element to appear clickable
.clickable {
    @include clickable;
}

.overflow-hidden {
    overflow: hidden;
}

.p-a-resp {
    padding: $space-md !important;

    @include screen-md-min {
        padding: $space-lg !important;
    }
}

.p-a-resp-lg {
    padding: $space-md !important;

    @include screen-md-min {
        padding: $space-xl !important;
    }
}
