<p id="tools-clearfix">Clearfix:</p>
<figure class="figure-box"><pre>
@include clearfix;
</pre></figure>
<br>
<p id="tools-align-centre">Align content centre using flexbox:</p>
<figure class="figure-box"><pre>
@include align-content-centre;
@include v-align-content-centre;
</pre></figure>
<br>
<p id="tools-remove-list-styles">Removes default list styling:</p>
<figure class="figure-box"><pre>
@include remove-list-styles;
</pre></figure>
<br>
<p id="tools-remove-link-styles">Removes default link styling (Once can be added to the anchor itself and the other on a wrapping element):</p>
<figure class="figure-box"><pre>
@include remove-link-style;
@include remove-link-styles;
</pre></figure>
<br>
<p id="tools-clickable">Style to appear clickable (pointer as cursor and opacity on hover/active/focus):</p>
<figure class="figure-box"><pre>
@include clickable;
</pre></figure>
<br>
<p id="tools-hide-text-not-pseudo">Hides text but not before/after element:</p>
<figure class="figure-box"><pre>
@include hide-text-not-pseudo;
</pre></figure>
<br>
<p id="tools-bg-cover">Sets background centre, cover and no repeat:</p>
<figure class="figure-box"><pre>
@include bg-cover;
</pre></figure>
<br>
<p id="tools-hide-text">Hides text with a text indent and overflow hidden:</p>
<figure class="figure-box"><pre>
@include hide-text;
</pre></figure>
<br>
<p id="tools-margin-centre">Sets margin right and left to auto:</p>
<figure class="figure-box"><pre>
@include m-centre
</pre></figure>
