// =============================================================================
//	COMPONENTS - FORMS - TEXTAREAS
// =============================================================================

.form__textarea {
    line-height: $line-height-base;
    min-height: $textarea-min-height;
    padding: $input-padding;
}
