// =============================================================================
//	ELEMENTS - FORMS - VALIDATION
// =============================================================================

// sass-lint:disable force-pseudo-nesting

.checkbox-wrap:not(.is-invalid),
.form-field-wrapper:not(.is-invalid) {
    .error-message {
        display: none;
    }
}

.form__group--error {
    .checkbox > input[type='checkbox'] + span::before {
        border-color: $error-red;
    }

    .form__control {
        border-color: $error-red;
    }
}

.form__group--valid {
    .form__control {
        border-color: $primary-color;
    }
}

.form__error {
    @include font-size-sm;
    display: block;
    font-weight: $font-weight-bold;
    color: $error-red;
    padding-top: $form-error-t-spacing;

    .checkbox-wrap & {
        margin-top: 0;
    }
}

.checkbox-wrap {
    .form__error {
        margin-left: $checkbox-text-l-spacing;
    }
}
